/*
=====================================================
Meida Queries  576px
=====================================================
*/

@media (min-width: 576px) {
// Sobre
    .topo-sobre{
        height: 100vh;
    }    
    // Footer
    footer{       
        .navbar-footer{
            flex-direction: column;
            align-items: center;         
        }
    }
    .bg-white, .bg-inverse{
        min-height: 680px;
    }    
}
// 576px