/*
=====================================================
Meida Queries  768px
=====================================================
*/
@media (min-width: 768px) {

    p {
        font-size: 2rem;
        line-height: 4rem;
        margin-bottom: 30px;
    }    
    .gap-padrao{
        padding: 80px 80px;
    }
    .btn{
        font-size: 1.6em;
        padding: 17px 30px 19px;
      }    

    .topo-home {
        .container-topo{
          margin: 210px 0 0 120px;
          width: 52%;
          h1{
            font-size: 62px;
            line-height: 62px;
            margin-bottom: 30px;
          }
          p{
            font-weight: normal;
            font-size: 20px;
            line-height: 140.8%;
          }                    
        }
        .graf-topo{
            width: 100%;
            min-height: 670px;
          }        
    }

    .box-clientes{
        padding: 180px 80px 80px 80px;
    }

    .bg-white, .bg-inverse{
        h2{
            font-size: 4.5em;
            line-height: 1em;           
        }
    }

    // Footer
    footer{
        .divisor{
            margin-top: 74px;
            margin-bottom: 0;
        }        
        .navbar-footer{
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0;
            li{
                margin-right: 20px;
                margin-bottom: 0;
            }            
        }
        .bloco-rsociais{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            right: 0;
            bottom: 25%;
            width: initial;
            ul{
                margin-bottom: 0;
                position: initial;       
            }
            .ico-zap{
                position: initial;            
            }            
        }
         
    }

    // Padroes dos boxes
    .box-inverse{
        span{
            font-size: 1.6em;
            margin-bottom: 1.7em; 
        }
        h1{
            font-size: 6.2rem;
            line-height: 6.2rem;
            margin-bottom: 30px;    
        }
    }
    // Sobre
    .topo-sobre{
        height: 100vh;
        padding-top: 130px;
    }

    @mixin base-topo{
        .row{
          justify-content: center;
        }
        .graf-topo{
          position: absolute;
          right: 0;
          bottom: 20px;
          display: flex;
          justify-content: flex-end;
          z-index: 5;
          img{
            width: 70%;
          }
        }  
      }
    // Sobre
    .topo-sobre{
        height: 100vh;
        padding-top: 0;
        @include base-topo;
    }
    // conteudo
    .conteudo{
        padding: 140px 80px;
        h2{
            font-size: 5rem;
            line-height: 6rem;   
            margin-bottom: 50px;
          }        
    }
    .card-box{
        margin-bottom: 0;
    }
    // bloco azul com foto no topo
    .bloco-foto{
        .img-topo{
            margin-top: -275px;
            margin-bottom: 0;
        }
    }           
    


}
// 768px

// Controle para telas notbook de altura de 768px
@media (max-height: 768px) {
    //Topo Home
    .topo-home {
        height: 140vh;
    }
    // topo internas
    .topo-internas{
        height: 100vh;
    }    
}
// 768px


// Media query para telas de celulares grandes
@media screen and (max-height: 768px) and (max-width: 820px) {
    //Topo Home
    .topo-home {
        height: 100vh;
    }
}