/*
=====================================================
Meida Queries  991px
=====================================================
*/

@media (min-width: 991px) {
  .main-menu {
    padding: 10px 60px 0 30px;
    .navbar-brand img{
      width:184.02px;
      height: 67.02px;
    }
    .navbar-collapse{
      padding-top: 0;
    }
    .nav-item{
      font-size: 1.3em;
    }
    .navbar-nav:first-child{
      margin-bottom: 0;
    }    
    .navbar-nav{
      .nav-link{
        color: $white;
        border-top: 3px solid transparent;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 12px;
        &:hover{
          border-top-color: $primary;
        }
      }

      &:first-child {
        .nav-item{
          margin: 0 29.5px;
          &:last-child{
            margin-right: 0;
          }
        } 
      }

      &:nth-child(2){
        margin: 0 40px;
        .nav-link{
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .separator{
        padding: 0.5rem 1rem;
      }
    }
  }

    // card soluções
    .card-solucoes{
      h3{
          font-size: 4rem;
          line-height: 5.5rem;   
      }
      p{
          width: 80%;
      }
    }

    @mixin base-topo{
      .row{
        justify-content: center;
      }
      .graf-topo{
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 20px;
        display: flex;
        justify-content: flex-end;
        z-index: 5;
        img{
          width: 70%;
        }
      }  
    }    

    // Sobre
    .topo-sobre{
      padding-top: 60px;
      @include base-topo;
    }





}
// 991px


// Controle para telas grandes full hd
@media (min-width: 1470px) {
  .bg-white, .bg-inverse {
    background-size: 100% 100%;
    min-height: 480px;
  }
  .bg-inverse i{
    background-size: 100% 100%;
    min-height: 480px; 
  }  
}