/*
=====================================================
Meida Queries  991px
=====================================================
*/

@media (min-width: 991px) {
  .main-menu {
    padding: 10px 60px 0 30px;
    .navbar-brand img{
      width:184.02px;
      height: 67.02px;
    }
    .navbar-collapse{
      padding-top: 0;
    }
    .nav-item{
      font-size: 1.3em;
    }
    .navbar-nav:first-child{
      margin-bottom: 0;
    }    
    .navbar-nav{
      .nav-link{
        color: $white;
        border-top: 3px solid transparent;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 12px;
        &:hover{
          border-top-color: $primary;
        }
      }

      &:first-child {
        .nav-item{
          margin: 0 29.5px;
          &:last-child{
            margin-right: 0;
          }
        } 
      }

      &:nth-child(2){
        margin: 0 40px;
        .nav-link{
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .separator{
        padding: 0.5rem 1rem;
      }
    }
  }

    // card soluções
    .card-solucoes{
      h3{
          font-size: 4rem;
          line-height: 5.5rem;   
      }
      p{
          width: 80%;
      }
    }

    @mixin base-topo{
      .row{
        justify-content: center;
      }
      .graf-topo{
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 20px;
        display: flex;
        justify-content: flex-end;
        z-index: 5;
        img{
          width: 70%;
        }
      }  
    }    

    // Sobre
    .topo-sobre{
      padding-top: 60px;
      @include base-topo;
    }

    // topo interna
    .topo-intena{
      height: 70vh;
      padding-top: 130px;
      .row{
          height: 70vh;    
        }
        .graf-topo-internas{
          position: absolute;
          right: 0;
          bottom: initial;
          top: 20vh;
          width: 100%;
          img{
            width: 100%;
          }
        }               
    }

    // topo contato
    .topo-contato{
      height: 70vh;
      padding-top: 130px;
      .row{
          height: 70vh;    
        }
        .graf-topo-internas{
          position: absolute;
          right: 0;
          bottom: initial;
          top: 20vh;
          width: 100%;
          img{
            width: 100%;
          }
        }      
    }

    .box-clientes{
      min-height: 440px;
      padding: 250px 30px 80px 30px;      
    }

    .bg-inverse{
      i{
          background-position: center;
          min-height: 440px;                
      }
    }

    .v-mobile{
        display: none !important;
    }
    .v-desktop{
        display: block;
    }

    .bg-white, .bg-inverse {
      min-height: 440px;
    }

    .topo-home {
      .container-topo{
        margin: 210px 0 0 120px;
        width: 52%;
        h1{
          font-size: 62px;
          line-height: 62px;
          margin-bottom: 30px;
        }
        p{
          font-weight: normal;
          font-size: 20px;
          line-height: 140.8%;
        } 
      }
    }

}
// 991px

// Controle para telas grandes full hd
@media (min-width: 1470px) {
  .bg-white, .bg-inverse {
    background-size: 100% 100%;
    min-height: 480px;
  }
  .bg-inverse i{
    background-size: 100% 100%;
    min-height: 480px; 
  }  
}


// Controle para telas notbook de altura de 768px
@media (max-height: 768px) {
  //Topo Home
  .topo-home {
      height: 100vh;
      .graf-topo {
        min-height: 590px;
      }
      .container-topo {
        margin: 220px 0 0 120px;
        width: 40%;
        h1 {
          font-size: 50px;
          line-height: 55px;
        }        
      }           
  }
  // topo internas
  .topo-internas{
      height: 100vh;
  } 
  .topo-intena{
      height: 100vh;
      .row{
        height: 90vh;    
      }      
  }


  // topo contato
  .topo-contato{
      height: 100vh;
      padding-top: 130px;
      .row{
          height: 90vh;    
        }
        .graf-topo-internas{
          position: absolute;
          right: 0;
          bottom: initial;
          top: 20vh;
          width: 100%;
          img{
            width: 100%;
          }
        }      
    }
  
    // banner
    .banner {
      min-height: 45vh;
    }
}
// 768px



// Media query para telas de celulares grandes
@media screen and (max-height: 768px) and (max-width: 820px) {
  //Topo Home
  .topo-home {
      height: 100vh;
      .container-topo{
        margin: 115px 40px 0 40px;
        width: 100%;        
        h1 {
          font-size: 25px;
          line-height: 32px;
        }
        p {
          font-weight: 300;
          font-size: 17px;
          line-height: 140.8%;
        }        
      }
      .graf-topo {
        min-height: 420px;
      }            
  }
  .topo-intena{
      height: 70vh;
      .row{
        height: 45vh;    
      }        
  }
  .topo-contato .graf-topo-internas {
    position: absolute;
    right: 0;
    bottom: 0;
    top: initial;
    width: 100%;
  }      
}
