// padrões iniciais
html{
  font-family: $font-default;
  font-size: 10px;  
}
body{
  font-family: $font-default;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 140.8%;;
  color: $primary;
  // largura máxima para telas full HD
  max-width: 1920px;
  margin: 0 auto;  
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
strong,
b {
  font-weight: 700;
}
p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0;
  margin-bottom: 30px;
  font-weight: 300;
}
a{
  outline: none;
}
.btn{
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 0;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 2px solid #103957;
  color: #103957;
  box-sizing: border-box;
  border-radius: 22.5px;
  padding: 17px 30px 16px;
  height: 37px;
  &:hover{
    background-color: #103957;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
  }
}
.btn{
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 0;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 22.5px;
  padding: 17px 24px 16px;
}
.btn-default{
  border: 2px solid #103957;
  color: #103957;
  &:hover{
    background-color: #103957;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
  }
}
.btn-inverse{
  border: 2px solid #ffffff;
  color: #ffffff;
  &:hover{
    background-color: #FFFFFF;
    color: #103957;
    transition: all .3s ease-in-out;
  }
}
.btn:focus{
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.gap-padrao{
  padding: 60px 30px;
}
@mixin box-i {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
//Menu Principal
.main-menu {
  position: relative;
  z-index: 15;
  @extend .navbar, .navbar-expand-lg, .navbar-dark, .w-100;
  transition: all 0.2s ease-in-out;
  position: absolute;
  background-color: transparent;
  padding: 10px 10px 0 30px;
  .navbar-brand {
    z-index: 2;
    img {
      width: 114px;
      height: 41.52px;
    }
  }
  .navbar-nav {
    &:nth-child(2), &:nth-child(3){
      flex-flow: row;  
    }
    &:nth-child(3) {
      color: $branco;
      margin-top: 5px;
      .nav-item{
        font-size: 14px;
      }
    }
  }
  .hamburger {
    z-index: 2;
  }

  button:focus {
    outline: none;
  }
  //Important: integrating hamburger icon with bootstrap navbar
  button[aria-expanded=true]{
    @extend .is-active;
  }
  .navbar-collapse{
    padding-top: 150px;
    z-index: 10;
  }
  .nav-item{
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.8rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;    
  }
  .navbar-nav:first-child{
    margin-bottom: 70px;
  }

  @include media-breakpoint-down(md) {
    .navbar-collapse {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: 1;
      background-color: $primary;
      padding-left: 60px;
      padding-right: 60px;

      &.show{
        height: 100vh;
          .navbar-nav {
          &:nth-child(2) {
            position: absolute;
            bottom: 50px;
            left: 60px;
            .nav-item:first-child{
              padding-right: 30px;
            }
            .nav-item:last-child{
              padding-left: 30px;
            }
            svg{
              width: 25px;
              height: 25px;
            }
          }
          
          &:nth-child(3) {
            position: absolute;
            bottom: 50px;
            right: 60px;
            color: $branco;
            .nav-item:first-child{
              padding-right: 3vw;
              .nav-link{
                color: rgba(255, 255, 255, 1);
                padding-top: 4px;
              }
            }
            .nav-item:last-child{
              padding-left: 3vw;
              .nav-link{
                color: rgba(255, 255, 255, 1);
                padding-top: 4px;
              }
            }
          }
        }
      }
    }
  }

  //Menu slim
  &.scrolled{
    position: fixed;
    background-color: $primary;
    top: 0;
    padding: 5px 10px 5px 20px;
    z-index: 10;

    .navbar-brand img{
      width: 140px;
    }
    .navbar-nav .nav-link:hover {
      border-top-color: $branco
    }
    .hamburger{
      margin-top: 5px;
    }
  }
  
}
.navbar-dark .navbar-nav .nav-link, .main-menu .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  &:hover{
    opacity: 0.8;
    transition: all .2s ease-in-out;
  }
}
.graphic-menu{
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  text-align: right;
  //opacity: 0;
  display: none;
  background: linear-gradient(180deg, rgba(0, 32, 55, 0) 0%, #000000 97.37%);
  width: 100%;
  img{
    width: 100%;
  } 
}

// Padroes dos boxes
.box-inverse{
  color: #fff;
  span{
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 140.8%;
    color: #999999;
    margin-bottom: 1.7em;
    text-transform: uppercase;
    position: relative;
    display: block;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 69px;
      height: 3px;
      background: #999999;
    }  
  }
  h1{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 30px;    
  }
}


//Topo Home
.topo-home {
  @extend .d-flex;
  background-image: url('../images/fundo_topo_home.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-color: $primary;
  align-items: flex-start;
  i{
    position: absolute;
    width: 100%;
    height: 563px;
    display: block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 48.13%);
  }
  .container-topo{
    position: relative;
    margin: 115px 40px 0 40px;
    width: 100%;
    z-index: 5;
    h1{
      font-family: $font-titles;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    p{
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 140.8%;
      color: #FFFFFF;
    }
  }
  .graf-topo{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    //min-height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
.solucoes{
  position: relative;
  overflow: hidden;
  // min-height: 504px;
  .container-grafismo{
    position: absolute;
    top: 0;
    right: -43px;
    img{
      width: 80%;
    }
  }
  .container-grafismo-l{
    position: absolute;
    z-index: 5;
    top: -150px;
    left: 217px;
    img{
      width: 80%;
    }    
  }   
}
.bg-white{
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  .container-fluid{
    position: relative;
    z-index: 5;
  }  
  span{
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 140.8%;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 1.7em; 
    text-transform: uppercase;
    position: relative;
    display: block;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 69px;
      height: 3px;     
      background: #999999;      
    }
  }
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #103957;
    margin-bottom: 17px;  
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;    
  }
  i{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 440px;    
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
  }
  .bg-pwhite{
    background-position: bottom right;
    background-size: contain;
    svg{
      width: 100%;
      height: auto;
    }
  }   
}
.bg-inverse{
  background-color: #002037;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  z-index: 6; 
  .container-fluid{
    position: relative;
    z-index: 7;
  }
  span{
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 140.8%;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 1.7em; 
    text-transform: uppercase;
    position: relative;
    display: block;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 69px;
      height: 3px;     
      background: #999999;      
    }
  }
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 17px;
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;
    color: #FFFFFF;   
  }
  i{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 440px;    
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 5;     
  }
  .bg-inverse{
    background-position: bottom right;
    background-size: contain;      
  }
  .bg-pinverse{
    background-position: bottom right;
    background-size: contain;
    svg{
      width: 100%;
      height: auto;
    }
  }  
  .filtro--azul{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 97.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 4;
    width: 100%;   
  }
}

// Clientes
.box-clientes{
  position: relative;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 440px;
  padding: 170px 30px 80px 30px;
  .titulo-destaque{
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 140.8%;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 1.7em; 
    text-transform: uppercase;
    position: relative;
    display: block;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 69px;
      height: 3px;     
      background: #999999;      
    }
  }
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5em;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #103957;
    margin-bottom: 17px;  
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;    
  }
  .swiper-container {
    height: 130%;
    .swiper-slide {
      margin-bottom: 30px;
      img{
        width: 100%;
      }
    }
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
    }    
  }
  i{
    @include box-i;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: -18px;     
  } 
}

.clientes-sobre{
  padding: 60px 30px 60px 30px !important;
}

// Swipper slider de clientes
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  //margin-left: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0;
  right: auto;
  background: #fff;
  padding: 0;
  height: 165px;
  top: 0;
  width: 50px;
}

// Footer
footer{
  position: relative;
  background-color: #103957;
  i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 78.95%);    
  }
  .divisor{
    margin-top: 30px;
    margin-bottom: 200px;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  .navbar-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
    li{
      margin-right: 0;
      margin-bottom: 30px;
      a{
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        outline: none;
        .link_traco{
          background-image: linear-gradient(180deg,transparent 0,currentColor 50%);
          background-position: 0 calc(100% - 1px);
          background-repeat: no-repeat;
          background-size: 0 1px;
          //will-change: background-size,color;
          transition: background-size .5s cubic-bezier(0.4,0,0.14,1),color cubic-bezier(0.4,0,0.14,1) .25s;
          padding: 8px 0;     
        }
        &:hover .link_traco{
          background-size: 100% 1px;
          transition-delay: 0s;
        }
      }
    }
    li:last-child{
      margin-right: 0;
    }
  }
  .bloco-contato{
    li{
      a{
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 132%;
        letter-spacing: 0.05em;
        color: #FFFFFF;
      }
    }
    @mixin ico-bloco-contato{
      background-repeat: no-repeat;
      padding-left: 28px;
      margin-bottom: 17px;
    }
    .ico-tel{
      background-image: url('../images/icone_telefone.svg');
      @include ico-bloco-contato;
    }
    .ico-mail{
      background-image: url('../images/icone_email.svg');
      @include ico-bloco-contato;
    }
    .ico-pin{
      background-image: url('../images/icone_pin.svg');
      @include ico-bloco-contato;
    }        
  }
  .bloco-rsociais{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 60px;
    width: 100%;
    margin-bottom: 0;
    min-height: 150px;
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 40px;
      position: absolute;
      top: 0;
      li{
        margin-right: 28px;
        &:hover{
          opacity: 0.6;
          transition: all .2s ease-in-out;
        }
      }      
    }
    .ico-zap{
      background-color: #FFFFFF;
      width: 210px;
      height: 75px;
      border-radius: 18px 0 0 18px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-style: normal;
      font-weight: 800;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #103957; 
      padding-left: 20px;
      position: absolute;
      right: 0;
      svg{
        margin-right: 20px;
      }
      &:hover{
        text-decoration: none;
        color: #fff;
        background-color:#000;
        transition: all .3s ease-in-out;
        // border: 2px solid #fff;
        // border-top: 2px solid #fff;
        // border-left: 2px solid #fff;
        // border-bottom: 2px solid #fff;
        // border-right: none;       
      }
      &:hover svg path{
        fill: #fff;
         transition: .3s ease;
       } 
    }
  }
}
@mixin base-topo{
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #002037;
  i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 563px;
    display: block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 48.13%);
    z-index: 1;
  }
  .row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    z-index: 5;
  }
  .graf-topo{
    position: absolute;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    img{
      width: 70%;
    }
  }  
}
// topo interna
.topo-intena{
  position: relative;
  height: 70vh;
  padding-top: 70px;
  @include base-topo;
  .row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    z-index: 5;    
  }
  .graf-topo-internas{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    img{
      width: 100%;
    }
    svg{
      width: 100%;
    }    
  } 
}
// Sobre
.topo-sobre{
  height: 110vh;
  padding-top: 130px;
  @include base-topo;

  .graf-topo{
    display: none;
  }
  .graf-topo-mobile{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    img{
      width: 100%;
    }
    svg{
      width: 85%;
    }   
  }

  .filter-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: block;    
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 97.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 1;
  }
   
}
// banner
.banner{
  min-height: 30vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002037;
    mix-blend-mode: color;
  }
}
// conteudo
.conteudo{
  padding: 40px 20px;
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.8rem;
    letter-spacing: -0.02em;
    color: #103957;    
    margin-bottom: 35px;
  }
  h3{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 2.1rem;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
    color: #103957;
    margin-bottom: 30px;
  }
  article{
    margin-bottom: 60px;
    h2{
      margin-bottom: 0;
    }
    h3{
      margin-bottom: 30px;
    }
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;
    color: #000000;    
  }
  .card-box{
    margin-bottom: 30px;
    h3{
      color: $primary;
    }
  }
}
//separador
.separador{
  border-top: 3px solid #103957;
}
@mixin iconecard{
  width: 70px;
  margin-bottom: 16px;
  height: 70px;
}
// Card box
.card-box{
  img{
    @include iconecard;
  }
  h3{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 2.6rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 16px;  
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;
    color: #000000;    
  }
}
// card soluções
.card-solucoes{
  img{
    margin-top: 60px;
    @include iconecard;
  }
  h3{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.02em;
    color: #103957;
    margin-bottom: 16px;   
  }
  p{
    width: 100%;
  }
}
// gap-bloco-foto
.gap-bloco-foto{
  padding-top: 100px;
}
.gap-bloco-foto-solucoes{
  padding-top: 100px;
}
// bloco azul com foto no topo
.bloco-foto{
  color:#fff;
  position: relative;
  background-color: #103957;
  
  i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 78.95%);    
  }
  .row{
    position: relative;
    z-index: 5;
    h2, p{
      color: #fff;
    }
  }
  .img-topo{
    display: flex;
    justify-content: flex-end;
    margin-top: -110px;
    margin-bottom: 16px;
    margin-right: 0;
    img{
      width: 70%;
    }
  }
  .img-topo-sl{
    display: flex;
    justify-content: flex-end;
    margin-top: -160px;
    img{
      width: 100%;
    }
  }
  .img-topo-left{
    display: flex;
    justify-content: flex-start;
    margin-top: -150px;
    position: absolute;
    left: -80px;
    width: 100%;
    i{
      @include box-i;
      background: #002037;
      mix-blend-mode: color;  
    }
    img{
      width: 100%;
    }
  }   
  .img-bottom{
    display: flex;
    justify-content: flex-end;    
    position: absolute;
    bottom: 0;
    right: 0;
    img{
      width: 75%;
    }
    svg{
      width: 75%;
    }
  }
  .btn{
    margin-top: 20px;
  }
  .card-box{
    h3{
      color: #fff;
    }

  }
}
.foto-quem-somos{
  padding-bottom: 260px;
}
// area clientes
.container-clientes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  .card-cliente{
    width: 40%;
    margin: 0 13px 30px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 120px;
    img{
      width: 85%;
    }
  }
}
// topo internas
.topo-internas{
  height: 70vh;
  @include base-topo;
}
.img-contato{
  background-position: top right;
}
// formularios
.form-contact{
  display: flex;
  flex-direction: column;
  h2{
    font-size: 3.2rem;
    line-height: 3.8rem;
    padding-right: 0;
    margin-bottom: 35px;
  }
  p{
    padding-right: 0;
  }
  a{
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 6px;
    display: block;  
  }
  .form-container{
    margin-top: 40px;
    p{
      padding: 0;
      margin: 0;      
    }
  }
  label{
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 140.8%;
    color: #002037;
    padding-left: 2px;   
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="file"] {
    margin-bottom: 26px;
    background: transparent;
    border: 2px solid #002037;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.115em;
    color: #000;
    padding: 10px 16px 12px;
    width: 100%;
  }
  textarea {
    margin-bottom: 17px;
    background: transparent;
    border: 2px solid #002037;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.115em;
    color: #000;
    padding: 10px 16px 12px;
    width: 100%;
  }
  .upload-btn{
    position: relative;
    margin-bottom: 26px;
    background: transparent;
    border: 2px solid #002037;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.115em;
    color: #000;
    padding: 10px 16px 12px;
    width: 100%;
    height: 45px;
    background-image: url('../images/upload_curriculo.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75px;
    cursor: pointer;
    &:hover{
      background-color: #eee;
      transition: all .2s ease-in-out;
    }
    input[type="file"] {
      cursor: pointer;
      position: relative;
      left: -18px;
      top: -12px;
      //opacity: 0;
      width: 95%;
      height: 45px;
      display: block;      
    }
  }

  .block-capcha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input[type="submit"] {
      margin-top: 20px;
    }
  }
  input[type="submit"] {
    background: #002037;
    border: none;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 140.8%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 35px;
    text-align: center;
    width: max-content;
    height: max-content;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: #0088FF;
    }
  }  
}
// box blog
.box-blog{
  padding: 0 0 120px;
  h2{
      margin-bottom: 40px;
  }
  .cat-name{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 15px;
  }
  .post-time{
      font-family: $font-titles;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 5px;
  }
  h3{
      font-family: $font-titles;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
  }
  .post-saiba-mais{
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      letter-spacing: 0.115em;
      text-transform: uppercase;
      color: #000000;
      margin-top: 20px;
      width: max-content;
      &::after{
          content: '';
          display: block;
          position: absolute;
          top: 5px;
          right: -12px;
          background-image: url('../images/arrow-see-more.svg');
          background-repeat: no-repeat;
          width: 10px;
          height: 10px;
      }      
  }
  i{
      position: relative;
      background-color: #000;
      width: 100%;
      height: auto;
      display: block;
      img{
          width: 100%;
      }      
  }
  a{
      &:hover{
          text-decoration: none;
          transition: all .3s ease-in-out;
      }
      &:hover img{
          opacity: 0.6;
      }
      &:hover h3{
          text-decoration: none;
          color: $primary
      }        
  }     
  .box-info-blog{
      display: flex;
      flex-direction: column;                    
      padding: 30px 30px 40px 0; 
  }
  .box-list-blog{
      display: flex;
      flex-direction: column;
      .box-6{
          width: 100%;
      }
      .blog-img-left{
          position: relative;
          padding-right: 0;
          a{
              display: flex;
              flex-direction: column;
              i{
                  position: relative;
                  margin-bottom: 40px;
                  background-color: #000;
                  img{
                      width: 100%;
                  }
                  &::after{
                      content: '';
                      display: block;
                      position: absolute;
                      left: 0;
                      bottom: -16px;
                      height: 16px;
                      width: 60%;
                      background-color: #BC8B2F;
                      z-index: 10;                        
                  }
              }
              .box-info-blog{
                  display: flex;
                  flex-direction: column;                    
                  padding: 0 30px 60px 40px;
              }
              &:hover{
                  text-decoration: none;
                  transition: all .3s ease-in-out;
              }
              &:hover h3{
                  text-decoration: none;
                  color: $primary
              }
              &:hover i img{
                  opacity: 0.6;
              }                                
          }
      }
      .blog-img-right-top{
          a{
              display: flex;
              flex-direction: column;
              img{
                  width: 100%;
              }
              .box-black{
                  background-color: #000;
                  width: 100%;
                  position: relative;
                  margin-bottom: 40px;
                  i{
                      width: 100%;
                      height: 100%;
                      position: relative;
                      display: block;
                      padding-top: 100%;
                      background-color: #000;
                      background-size: cover;                  
                  }
                  &::after{
                      content: '';
                      display: block;
                      position: absolute;
                      left: 0;
                      bottom: -16px;
                      height: 16px;
                      width: 100%;
                      background-color: #BC8B2F;
                      z-index: 10;                        
                  }                                                          
              }

              .box-info-blog{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 40px 60px 40px;
              }
              &:hover{
                  text-decoration: none;
                  transition: all .3s ease-in-out;
              }
              &:hover h3{
                  text-decoration: none;
                  color: $primary
              }
              &:hover .box-black i{
                  opacity: 0.6;
              }                
          }
      }
      .blog-img-right-bottom{
          a{
              display: flex;
              flex-direction: column;
              i{
                  position: relative;
                  margin-bottom: 40px;
                  background-color: #000;
                  &::after{
                      content: '';
                      display: block;
                      position: absolute;
                      right: 0;
                      bottom: -16px;
                      height: 16px;
                      width: 70%;
                      background-color: #BC8B2F;
                      z-index: 10;                        
                  }                     
              }
              .box-info-blog{
                  display: flex;
                  flex-direction: column;
                  padding: 0 40px 60px 40px;
              }                
              &:hover{
                  text-decoration: none;
                  transition: all .3s ease-in-out;
              }
              &:hover h3{
                  text-decoration: none;
                  color: $primary
              }
              &:hover i img{
                  opacity: 0.6;
              }                
          }
      }        
  }
  /*Paginacao*/
  .bloco-paginacao{
      margin: 40px 0 0;
  }
  .pagination-news {
      margin-top: 0;
  }
  .box-pagination {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .page-numbers {
      font-size: 14px;
      padding: 8px 14px;
      background-color: $primary;
      color: #fff;
      margin: 0 1px;
      transition: all .5s;
  }
  .page-numbers:hover {
      background-color: $amarelo;
      color: #fff;
      text-decoration: none;
  }
  .current {
      background-color: $amarelo;
      color: #fff;
  }
}

.v-mobile{
  display: block;
}
.v-desktop{
  display: none !important;
}