// padrões iniciais
html{
  font-family: $font-default;
  font-size: 10px;  
}
body{
  font-family: $font-default;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 140.8%;;
  color: $primary;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
strong,
b {
  font-weight: 700;
}
p {
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0;
  margin-bottom: 30px;
}
.btn{
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 0;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border: 2px solid #103957;
  color: #103957;
  box-sizing: border-box;
  border-radius: 22.5px;
  padding: 17px 30px 19px;
  &:hover{
    background-color: #103957;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
  }
}
.btn{
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 0;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 22.5px;
  padding: 17px 30px 19px;
}
.btn-default{
  border: 2px solid #103957;
  color: #103957;
  &:hover{
    background-color: #103957;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
  }
}
.btn-inverse{
  border: 2px solid #ffffff;
  color: #ffffff;
  &:hover{
    background-color: #FFFFFF;
    color: #103957;
    transition: all .3s ease-in-out;
  }
}
.btn:focus{
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.gap-padrao{
  padding: 60px 30px;
}
@mixin box-i {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
//Menu Principal
.main-menu {
  position: relative;
  z-index: 15;
  @extend .navbar, .navbar-expand-lg, .navbar-dark, .w-100;
  transition: all 0.2s ease-in-out;
  position: absolute;
  background-color: transparent;
  padding: 10px 10px 0 30px;
  .navbar-brand {
    z-index: 2;
    img {
      width: 114px;
      height: 41.52px;
    }
  }
  .navbar-nav {
    &:nth-child(2), &:nth-child(3){
      flex-flow: row;  
    }
    &:nth-child(3) {
      color: $branco;
      margin-top: 5px;
      .nav-item{
        font-size: 14px;
      }
    }
  }
  .hamburger {
    z-index: 2;
  }

  button:focus {
    outline: none;
  }
  //Important: integrating hamburger icon with bootstrap navbar
  button[aria-expanded=true]{
    @extend .is-active;
  }
  .navbar-collapse{
    padding-top: 150px;
    z-index: 10;
  }
  .nav-item{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;    
  }
  .navbar-nav:first-child{
    margin-bottom: 70px;
  }

  @include media-breakpoint-down(md) {
    .navbar-collapse {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: 1;
      background-color: $primary;
      padding-left: 60px;
      padding-right: 60px;

      &.show{
        height: 100vh;
          .navbar-nav {
          &:nth-child(2) {
            position: absolute;
            bottom: 50px;
            left: 60px;
            .nav-item:first-child{
              padding-right: 30px;
            }
            .nav-item:last-child{
              padding-left: 30px;
            }
            svg{
              width: 25px;
              height: 25px;
            }
          }
          
          &:nth-child(3) {
            position: absolute;
            bottom: 50px;
            right: 60px;
            color: $branco;
            .nav-item:first-child{
              padding-right: 3vw;
              .nav-link{
                color: $branco;
                padding-top: 4px;
              }
            }
            .nav-item:last-child{
              padding-left: 3vw;
              .nav-link{
                color: $branco;
                padding-top: 4px;
              }
            }
          }
        }
      }
    }
  }

  //Menu slim
  &.scrolled{
    position: fixed;
    background-color: $primary;
    top: 0;
    padding: 5px 35px;
    z-index: 10;

    .navbar-brand img{
      width: 140px;
    }
    .navbar-nav .nav-link:hover {
      border-top-color: $branco
    }
    .hamburger{
      margin-top: 5px;
    }
  }
  
}


// Padroes dos boxes
.box-inverse{
  color: #fff;
  span{
    font-style: normal;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 140.8%;
    color: #999999;
    margin-bottom: 1.7em;
    text-transform: uppercase;
    position: relative;
    display: block;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 69px;
      height: 3px;
      background: #999999;
    }  
  }
  h1{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 62px;
    line-height: 62px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 30px;    
  }
}


//Topo Home
.topo-home {
  @extend .d-flex;
  background-image: url('../images/fundo_topo_home.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-color: $primary;
  align-items: flex-start;
  i{
    position: absolute;
    width: 100%;
    height: 563px;
    display: block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 48.13%);
  }
  .container-topo{
    position: relative;
    margin: 210px 0 0 120px;
    width: 52%;
    z-index: 5;
    h1{
      font-family: $font-titles;
      font-style: normal;
      font-weight: normal;
      font-size: 62px;
      line-height: 62px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 140.8%;
      color: #FFFFFF;
    }
  }
  .graf-topo{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    img{
      width: 80%;
    }
  }
}
.solucoes{
  position: relative;
  overflow: hidden;
  min-height: 504px;
  .container-grafismo{
    position: absolute;
    top: 0;
    right: -43px;
    img{
      width: 80%;
    }
  }
  .container-grafismo-l{
    position: absolute;
    z-index: 5;
    top: -150px;
    left: 217px;
    img{
      width: 80%;
    }    
  }   
}
.bg-white{
  background-color: #FFFFFF;
  span{
    font-style: normal;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 140.8%;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 1.7em; 
    text-transform: uppercase;
    position: relative;
    display: block;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 69px;
      height: 3px;     
      background: #999999;      
    }
  }
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 6.0em;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #103957;
    margin-bottom: 17px;  
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;    
  }
}
.bg-inverse{
  background-color: $primary;
  position: relative;
  .container-fluid{
    position: relative;
    z-index: 5;
  }
  span{
    font-style: normal;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 140.8%;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 1.7em; 
    text-transform: uppercase;
    position: relative;
    display: block;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 69px;
      height: 3px;     
      background: #999999;      
    }
  }
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 6.0em;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 17px;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 140.8%;
    color: #FFFFFF;   
  }
  i{
    position: absolute;
    width: 100%;
    height: 496px;
    left: 0px;
    bottom: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 97.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 1;  
  }
}

// Swipper slider de clientes
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  //margin-left: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0;
  right: auto;
  background: #fff;
  padding: 0;
  height: 165px;
  top: 0;
  width: 50px;
}

// Footer
footer{
  position: relative;
  background-color: #103957;
  i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 78.95%);    
  }
  .divisor{
    margin-top: 30px;
    margin-bottom: 200px;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  .navbar-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
    li{
      margin-right: 0;
      margin-bottom: 30px;
      a{
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
    li:last-child{
      margin-right: 0;
    }
  }
  .bloco-contato{
    li{
      a{
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 132%;
        letter-spacing: 0.05em;
        color: #FFFFFF;
      }
    }
    @mixin ico-bloco-contato{
      background-repeat: no-repeat;
      padding-left: 28px;
      margin-bottom: 17px;
    }
    .ico-tel{
      background-image: url('../images/icone_telefone.svg');
      @include ico-bloco-contato;
    }
    .ico-mail{
      background-image: url('../images/icone_email.svg');
      @include ico-bloco-contato;
    }
    .ico-pin{
      background-image: url('../images/icone_pin.svg');
      @include ico-bloco-contato;
    }        
  }
  .bloco-rsociais{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 60px;
    width: 100%;
    margin-bottom: 0;
    min-height: 150px;
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 40px;
      position: absolute;
      top: 0;
      li{
        margin-right: 28px;
        &:hover{
          opacity: 0.6;
          transition: all .2s ease-in-out;
        }
      }      
    }
    .ico-zap{
      background-color: #FFFFFF;
      width: 210px;
      height: 75px;
      border-radius: 18px 0 0 18px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-style: normal;
      font-weight: 800;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #103957; 
      padding-left: 20px;
      position: absolute;
      right: 0;
      svg{
        margin-right: 20px;
      }
      &:hover{
        text-decoration: none;
        color: #fff;
        background-color:#000;
        transition: all .3s ease-in-out;
        // border: 2px solid #fff;
        // border-top: 2px solid #fff;
        // border-left: 2px solid #fff;
        // border-bottom: 2px solid #fff;
        // border-right: none;       
      }
      &:hover svg path{
        fill: #fff;
         transition: .3s ease;
       } 
    }
  }
}
@mixin base-topo{
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #002037;
  i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 563px;
    display: block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 48.13%);
    z-index: 1;
  }
  .row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    z-index: 5;
  }
  .graf-topo{
    position: absolute;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    img{
      width: 70%;
    }
  }  
}
// Sobre
.topo-sobre{
  height: 100vh;
  @include base-topo;

  .filter-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: block;    
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 97.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 1;
  }
   
}
// banner
.banner{
  min-height: 30vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002037;
    mix-blend-mode: color;
  }
}
// conteudo
.conteudo{
  padding: 140px 80px;
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
    color: #103957;    
    margin-bottom: 50px;
  }
  h3{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: -0.02em;
    color: #103957;
    margin-bottom: 30px;
  }
  article{
    margin-bottom: 60px;
    h2{
      margin-bottom: 0;
    }
    h3{
      margin-bottom: 60px;
    }
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 140.8%;
    color: #000000;    
  }
  .card-box{
    h3{
      color: $primary;
    }
  }
}
//separador
.separador{
  border-top: 3px solid #103957;
}
@mixin iconecard{
  width: 70px;
  margin-bottom: 16px;
  height: 70px;
}
// Card box
.card-box{
  img{
    @include iconecard;
  }
  h3{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 16px;  
  }
  p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 140.8%;
    color: #000000;    
  }
}
// card soluções
.card-solucoes{
  img{
    margin-top: 60px;
    @include iconecard;
  }
  h3{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 5.5rem;
    letter-spacing: -0.02em;
    color: #103957;
    margin-bottom: 16px;   
  }
  p{
    width: 80%;
  }
}
// gap-bloco-foto
.gap-bloco-foto{
  padding-top: 350px;
}
// bloco azul com foto no topo
.bloco-foto{
  color:#fff;
  position: relative;
  background-color: #103957;
  i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 32, 55, 0) 78.95%);    
  }
  .row{
    position: relative;
    z-index: 5;
    h2, p{
      color: #fff;
    }
  }
  .img-topo{
    display: flex;
    justify-content: flex-end;
    margin-top: -275px;
    img{
      width: 55%;
    }
  }
  .img-topo-sl{
    display: flex;
    justify-content: flex-end;
    margin-top: -340px;
    img{
      width: 65%;
    }
  }
  .img-topo-left{
    display: flex;
    justify-content: flex-start;
    margin-top: -400px;
    position: absolute;
    left: -80px;
    width: 70%;
    i{
      @include box-i;
      background: #002037;
      mix-blend-mode: color;  
    }
    img{
      width: 100%;
    }
  }   
  .img-bottom{
    display: flex;
    justify-content: flex-end;    
    position: absolute;
    bottom: 0;
    right: 0;
    img{
      width: 75%;
    }
  }
  .btn{
    margin-top: 20px;
  }
  .card-box{
    h3{
      color: #fff;
    }

  }
}
// area clientes
.container-clientes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card-cliente{
    width: 16%;
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 120px;
    img{
      width: 85%;
    }
  }
}
// topo internas
.topo-internas{
  height: 70vh;
  @include base-topo;
}
// formularios
.form-contact{
  display: flex;
  flex-direction: column;
  h2{
    font-size: 3.8rem;
    line-height: 4.8rem;
    padding-right: 60px;
    margin-bottom: 35px;
  }
  p{
    padding-right: 60px;
  }
  a{
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 6px;
    display: block;  
  }
  label{
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 140.8%;
    color: #002037;
    padding-left: 2px;   
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="file"] {
    margin-bottom: 26px;
    background: transparent;
    border: 2px solid #002037;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.115em;
    color: #000;
    padding: 10px 16px 12px;
    width: 100%;
  }
  textarea {
    margin-bottom: 17px;
    background: transparent;
    border: 2px solid #002037;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.115em;
    color: #000;
    padding: 10px 16px 12px;
    width: 100%;
  }
  .block-capcha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  input[type="submit"] {
    background: #002037;
    border: none;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 140.8%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 35px;
    text-align: center;
    width: max-content;
    height: max-content;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: #0088FF;
    }
  }  
}